<section class="slice sct-color-1">
        <div class="container swiper-js-container">
            <div class="row row-sm-padding align-items-center cols-md-space cols-sm-space cols-xs-space">
                <div class="col-12 col-lg-4">
                    <div class="pr-4">
                        <h3 class="heading heading-2 strong-500">
                            <span>Our portfolio</span>
                        </h3>
                        <span class="badge bg-pink">Trending</span>

                        <span class="clearfix"></span>

                        <p class="mt-4">
                            Start building fast, beautiful and modern looking websites in no time using our theme.
                        </p>

                        <!-- Swiper Arrows -->
                        <div class="mt-5">
                            <div class="swiper-button--style-1 swiper-button-prev"></div>
                            <div class="swiper-button--style-1 swiper-button-next"></div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-8">
                    <div class="swiper-container" data-swiper-items="2" data-swiper-space-between="20" data-swiper-md-items="3" data-swiper-md-space-between="0" data-swiper-sm-items="2" data-swiper-sm-space-between="20" data-swiper-xs-items="1" data-swiper-sm-space-between="0">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="block block-image-holder">
                                    <div class="block-image">
                                        <a href="#">
                                                <%= image_tag "prv/work/business/img-1.jpg" %>
                                        </a>
                                    </div>
                                    <div class="block-info block-info-over block-info-over--style-1 block-info-over--dark-gradient">
                                        <div class="block-info-inner">
                                            <div class="text-center">
                                                <a href="#" class="heading heading-4 strong-500 mb-0 c-white">Silken Truth</a>
                                                <span class="clearfix"></span>
                                                <small class="text-uppercase c-white">Web design</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="block block-image-holder">
                                    <div class="block-image">
                                        <a href="#">
                                                <%= image_tag "prv/work/business/img-2.jpg" %>
                                        </a>
                                    </div>
                                    <div class="block-info block-info-over block-info-over--style-1 block-info-over--dark-gradient">
                                        <div class="block-info-inner">
                                            <div class="text-center">
                                                <a href="#" class="heading heading-4 strong-500 mb-0 c-white">Silken Truth</a>
                                                <span class="clearfix"></span>
                                                <small class="text-uppercase c-white">Web design</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="block block-image-holder">
                                    <div class="block-image">
                                        <a href="#">
                                                <%= image_tag "prv/work/business/img-3.jpg" %>
                                        </a>
                                    </div>
                                    <div class="block-info block-info-over block-info-over--style-1 block-info-over--dark-gradient">
                                        <div class="block-info-inner">
                                            <div class="text-center">
                                                <a href="#" class="heading heading-4 strong-500 mb-0 c-white">Silken Truth</a>
                                                <span class="clearfix"></span>
                                                <small class="text-uppercase c-white">Web design</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="block block-image-holder">
                                    <div class="block-image">
                                        <a href="#">
                                                <%= image_tag "prv/work/business/img-4.jpg" %>
                                        </a>
                                    </div>
                                    <div class="block-info block-info-over block-info-over--style-1 block-info-over--dark-gradient">
                                        <div class="block-info-inner">
                                            <div class="text-center">
                                                <a href="#" class="heading heading-4 strong-500 mb-0 c-white">Silken Truth</a>
                                                <span class="clearfix"></span>
                                                <small class="text-uppercase c-white">Web design</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="block block-image-holder">
                                    <div class="block-image">
                                        <a href="#">
                                                <%= image_tag "prv/work/business/img-5.jpg" %>
                                        </a>
                                    </div>
                                    <div class="block-info block-info-over block-info-over--style-1 block-info-over--dark-gradient">
                                        <div class="block-info-inner">
                                            <div class="text-center">
                                                <a href="#" class="heading heading-4 strong-500 mb-0 c-white">Silken Truth</a>
                                                <span class="clearfix"></span>
                                                <small class="text-uppercase c-white">Web design</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>