<!-- MAIN WRAPPER -->
<div class="body-wrap">
    <div id="st-container" class="st-container">
            <%= render  "static_pages/nav" %>
        <div class="st-pusher">
            <div class="st-content">
                <div class="st-content-inner">
                    <%= render  "static_pages/slider" %>
                    <%= render  "static_pages/cta_purchase_now" %>
                    <%= render  "static_pages/key_values" %>
                    <%= render  "static_pages/about" %>
                    <%= render  "static_pages/cta_learn_more" %>
                    <%= render  "static_pages/services" %>
                    <%= render  "static_pages/last_news" %>
                    <%= render  "static_pages/footer" %>
                </div>
            </div>
        </div><!-- END: st-pusher -->
    </div><!-- END: st-container -->
</div><!-- END: body-wrap -->
<a href="#" class="back-to-top btn-back-to-top"></a>